
/* Dashboard title and styling */
.dashboard-title {
  color: red;
  text-align: center;
  margin-top: 20px;
}
/* dashboard.css */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  margin: 10px;
}


/* Horizontal rule styling */
.dashboard-hr {
  width: 50%;
  margin: 10px auto;
  border: 1px solid red;
}

/* Published Courses subtitle styling */
.published-courses {
  color: red;
  margin-top: 20px;
  text-align: center;
}

/* Course card styling */
.course-card {
  width: 250px;
  margin: 30px 20px; /* Adjust white spacing between courses */
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 1200px) {
  .course-card {
    width: 270px; /* Adjust width for larger screens if needed */
  }
}

@media screen and (max-width: 992px) {
  .course-card {
    width: 100%; /* Use full width on medium screens */
  }
}
